<div class="header">
    <a href="/" class="logo">
        ANNA BEAUTY
    </a> 
    <div class="product-price-btn button">
        <button type="button" onclick="window.location.href='/cart'">CART</button> 
    </div>
</div>