<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include ./partials/header %>
   
    <div class="faq-container">
      <div class="faq-text">
    <h3>Anna Beauty Frequently Asked Questions</h3>

    <br>

    <h4>RETURNS & REFUNDS</h4>

    <p>Do you allow refunds/returns?</p>

    <p>All sales are final. We do not offer refunds/exchanges, nor do we allow cancellations/ returns. 
    Please keep in mind that colors will appear different on individuals depending on skin tone and lip pigmentation. 
    Items will not be replaced or exchanged for this reason. ANNABEAUTY.com reserves the right to refuse any returns at any time.</p>
    
    <br><h4>ORDER ISSUES</h4>
    
    <p>How can I reach your Customer Service team and when should I expect a response?</p>
    
    <p>For customer service inquiries only, please email Help@ANNABEAUTY.com. Our Customer Service team is available M-F 8am 
    - 5pm pst. We do our best to respond to all customers within 48 hours. Response times may be extended during holidays, 
    promotions and immediately following launches/restocks. Inquiries are answered in the order they are received; please do 
    not send multiple emails as this will place you at the end of the queue.</p>
    
    <br>

    <p>I have not received my order confirmation, did my order go through?</p>

    <p>Order confirmation emails may be delayed as a result of high order volume. Please contact our customer service team 
    Help@ANNABEAUTY.com if you have not received your confirmation email after 24 hours of your purchase.</p>
    
    <br>
    
    <p>Can I make changes to my order once it’s been placed?</p>

    <p>Due to the extremely limited nature of our products, all sales are final. Orders can not be cancelled, changed or 
    modified once they have been placed. Please ensure all info is correct before submitting your order.</p>
    
    <br>
    
    <p>I have received my order and need some additional assistance.</p>

    <p>Please contact our Customer Service Team Help@ANNABEAUTY.com to request replacement for damaged products or report 
    other issues with your order. We will review all issues that are submitted within 14 days of delivery of the package. 
    Requests received after this time frame are no longer eligible for review. Customers must provide photos of any 
    product/order issues along with their Packing slip (please ensure stamped initials are visible). Please note that items 
    shipped using a mail forwarding service are not eligible for replacement/exchange/refund of any kind.</p>
    
    
    <br><h4>DELIVERY</h4>
    
   <p> When will my package be delivered?</p>

    <p>Processing time for orders is 3-5 business days (business days do not include weekends or holidays). 
    These times may be extended during holidays, launches/restocks, limited edition releases and promotions. 
    Once shipped, delivery time within the United States is 3-6 days and 10-21 business days internationally. 
    We do not offer expedited shipping at this time. All orders are shipped via USPS. Please note, we are not responsible 
    for any shipping deliveries that may be affected by, but not limited to, the following: customs, natural occurrences, 
    air/ground transportation strikes/delays or transfers from USPS to international mail carriers.</p>
    
    <br>
    
    <p>I am an international customer; do I have to pay customs and taxes?<p>

    <p>Items shipped outside of the United States are subject to duties, taxes, handling and/or other miscellaneous charges 
    as defined by the country of import. These fees are not included in the cost of your order and therefore can not be 
    reimbursed by ANNA Beauty. Customs regulations in the U.S.A. require that we display the full product value on the 
    front of the package (this includes products that are purchased at a discounted price or are part of a promotion). 
    Please check with your country’s customs office to determine what these additional costs will be prior to placing your order.</p>
    
    <br>
    
    <h4>PRODUCT & STOCK</h4>
    
    <p>Are ANNA Beauty products sold at any other retailers?</p>

    <p>No. ANNA Beauty products are exclusively sold online at ANNABEAUTY.com</p>
    
    <br>

    <p>How do I find out about upcoming launches and restocks?</p>

    <p>New product and restock information will always be posted on the Kim Kardashian official app and on our official 
    Instagram account @annabeauty</p>
    
    <br>

    <p>Is there a limit to how much I can buy?</p>

    <p>Due to the exclusivity of our products, some items may have limits placed the maximum quantity that may be purchased 
      in one transaction.</p>

    <br>  
    
    <p>Can I reserve items by adding them to my cart?</p>
    <p>All products on ANNABEAUTY.com are in stock and available for order (unless otherwise noted). Items can not be 
      reserved by holding them in your cart. Product availability is extremely limited and therefore may sell out before 
      your purchase is complete. Order transactions are completed in the order they are received.</p>

      </div>

    <br>

      <div class="back-to-homepage">
        <a href="/">BACK TO HOMEPAGE</a>
      </div>
    </div>

    

        <div class="footer">
          <footer>
            <ul class="ul-footer">
              <li class="li-footer">
                <a href="/contacts" class="footer-links" title="CONTACT US">CONTACT US</a></li>
              <li class="li-footer">
                <a href="/terms" class="footer-links" title="TERMS">TERMS</a></li>
              <li class="li-footer">
                <a href="/faq" class="footer-links" title="FAQ">FAQ</a></li>
              <li class="li-footer">
                <a href="https://www.instagram.com" class="footer-links" title="INSTAGRAM">INSTAGRAM</a></li>
            </ul>
          </footer>
        </div>

  </body>
</html>