<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <% include ./partials/header %>
    
    <div class="products-row">
        <div class="product-wrapper">
            <div class="product-img">
              <a href="/kawaii-collection/glossy-lipstick">
                <img src="/images/lipstick.jpg" height="330" width="330">
              </a>
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>Glossy Lipstick</h1>
                <p>The high shine lipstick can be worn alone <br> or with your favorite lipgloss or lip liner.<br> The lipstick gently glides over your favorite <br> lip liner for a smooth finish. </p>
              </div>
              <div class="product-price">
                <div class="product-price-value">15$</div>
                <a href="/kawaii-collection/glossy-lipstick" class="primary-btn">BUY NOW</a>
              </div>
            </div>
        </div>
        
        <div class="product-wrapper">
            <div class="product-img">
              <a href="/kawaii-collection/long-lasting-foundation">
                <img src="/images/foundation.jpg" height="330" width="330">
              </a>
            </div>
            <div class="product-info">
              <div class="product-text">
                <h1>Long Lasting Foundation</h1>
                <p>24-hours, looks healthy, bright <br> and radiant skin as if having had <br> a good night’s sleep. </p>
              </div>
                <div class="product-price">
                  <div class="product-price-value">30$</div>
                  <a href="/kawaii-collection/long-lasting-foundation" class="primary-btn">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>
  
    <form>
        <div class="promo-title-blush"> 
            <h2>HAVE ANY QUESTION?</h2>  
          </div>
          
           <div class="bottom-block">
             <a href="/contacts" class="primary-btn">CONTACT US</a>
           </div>
    </form>

      <div class="footer">
        <footer>
          <ul class="ul-footer">
            <li class="li-footer">
              <a href="/contacts" class="footer-links" title="CONTACT US">CONTACT US</a></li>
            <li class="li-footer">
              <a href="/terms" class="footer-links" title="TERMS">TERMS</a></li>
            <li class="li-footer">
              <a href="/faq" class="footer-links" title="FAQ">FAQ</a></li>
            <li class="li-footer">
              <a href="https://www.instagram.com" class="footer-links" title="INSTAGRAM">INSTAGRAM</a></li>
          </ul>
        </footer>
      </div>

  </body>
</html>
